{%extends 'pages/base.jinja'%}

{%block title%}
    Turso 
{%endblock%}


{%block content%} 
    
    <section id="hero">
        <h1>Turso Database: The Super Epic Home Page</h1> 
    </section>
    <section id="things">
        {%for thing in things%}

            <article>
                <header>
                    {{thing.name}}
                </header>
                <articleContents>
                    ${{thing.cost}}
                    <br>
                    {{thing.desc}}
                </articleContents>
                <footer>
                    <a href="/thing/{{thing.id}}">more</a>
                    <a href="/delete/{{thing.id}}">delete</a>
                </footer>
            </article>
        {%endfor%}
    </section>
    
    <section>
        <article id="articleForm">
            <form>
                <label>Name <input type="text" name="required"></label>
                <label>Description <input type="text" name="desc"></label>
                <label>Cost <input type="number" name="cost" min="0"></label>
                <label>Rating <input type="range" min="1" max="10" name="rating"></label>
                <button type="submit">submit</button>
            </form>
        </article>
    </section>


{%endblock%}

