{%extends 'pages/base.jinja'%}

{%block title%}
    Turso - Single Thing
{%endblock%}


{%block content%} 
    
    <section id="hero">
        <h1>Hello!!!</h1> 
    </section>
    <section id="things">
        <article>
            <header>
                {{thing.name}}
            </header>
            <articleContents>
                ${{thing.cost}}
                <br>
                {{thing.desc}}
                <br>
                {{thing.rating}}/10
            </articleContents>
            <footer>
                <a href="/">back</a>
                <a href="/delete/{{thing.id}}">delete</a>
            </footer>
        </article> 
    </section>
    


{%endblock%}

